nav {
  width: 100%;
  background-color: var(--green);
  padding: 25px;
  box-sizing: border-box;
}

nav > * {
  margin: 10px;
  font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
  color: white;
  transition: 0.2s;
  text-decoration: none;
}

nav > *:hover {
  color: grey;
}

.home img {
  width: 100%;
}